__pycache__/
*.py[cod]
.pytest_cache/
.venv/
user_data/logs/
user_data/backtest_results/
user_data/baseline_results/
user_data/hyperopt_results/
user_data/hyperopts/
user_data/freqaimodels/
user_data/notebooks/
user_data/plot/
user_data/data/**/*.feather
user_data/data/**/*.json
user_data/data/**/*.zip
!user_data/data/.gitkeep
user_data/strategies/*.json
